.form-control-inline {
    min-width: 0;
    width: auto;
    display: inline;
}

.control-label {
	display: block;
}

.form-container {
	margin-top: 20px;
}

#creditCardForm .ng-dirty.ng-invalid {
	color: #ff0000;
}