
<div class="form-container">
  <form id="creditCardForm" ng-if="!transactionSuccessful && cartSize > 0">
    <span class="payment-errors">{{paymentErrors}}</span>

    <div class="form-row">
      <label class="control-label">
        <div>Card Number</div>
        <input type="text" class="form-control form-control-inline" ng-model="cardNumber" maxlength="20" size="20" data-stripe="number"/>
      </label>
    </div>

    <div class="form-row">
      <label class="control-label">
        <div>CVC</div>
        <input type="text" class="form-control form-control-inline" ng-model="cvc" maxlength="4" size="4" data-stripe="cvc"/>
      </label>
    </div>

    <div class="form-row">
      <label class="control-label">
        <div>Expiration (MM/YYYY)</div>
      </label>
      <input type="text" class="form-control form-control-inline" ng-model="expMonth" maxlength="2" size="2" data-stripe="exp-month"/>
      <span> / </span>
      <input type="text" class="form-control form-control-inline" ng-model="expYear" maxlength="4" size="4" data-stripe="exp-year"/>
    </div>

    <button class="btn btn-success" ng-click="submitCreditCard()" ng-disabled="{{isSubmitDisabled}}">Submit Payment</button>
  </form>
</div>