
<website-header></website-header>

<div class="container">
  <div class="row">
    <div>
      <div class="col-md-4">
        <div><h2>Name</h2><h3>{{product.name}}</h3></div>
        <div><h2>Info</h2><h3>{{product.info}}</h3></div>
        <div><h2>Price</h2><h3>${{product.price}}</h3></div>
      </div>
      <div class="col-md-8">
        <h3>Comments</h3>
        <div masonry>
          <div class=" masonry-brick" ng-repeat="comment in comments">
            <div>
              <button type="button" class="close" ng-click="deleteComment(comment)" ng-if="isAdmin()">&times;</button>
              {{comment.info}}
              <br>
              -{{comment.name}}
            </div>
          </div>
        </div>
        <div class="col-xs-12">
          <form class="product-form">
            <label>Add your comment</label>
            <p class="input-group">
              <input type="text" class="form-control" placeholder="Your Name" ng-model="newComment.name">
              <input type="text" class="form-control" placeholder="Your Comment" ng-model="newComment.info">
              <button type="submit" class="btn btn-primary pull-right" ng-click="addComment()">Add New</button>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<website-footer></website-footer>
