<website-header></website-header>

<div class="container">
  <div class="row">

    <div class="col-xs-4 shopping-cart-mobile-widget" ng-if="isMobile()">
      <shopping-cart></shopping-cart>
    </div>
    <div class="col-md-10">
      <h1>Products</h1>
      <div masonry>
        <div class="masonry-brick" ng-repeat="product in products">
          <div class="pull-right">
            <div class="">Cart</div>
            <div class="btn-group">
              <button class="btn btn-default" ng-click="removeItemFromShoppingCart(product)">-</button><button class="btn btn-default">{{getShoppingCartCount(product)}}</button><button class="btn btn-default" ng-click="addToShoppingCart(product)">+</button>
            </div>
          </div>
          <div class="col-xs-8 product-info">
            <div><strong>Name:</strong> {{product.name}}<button type="button" class="close" ng-click="deleteProduct(product)" ng-if="isAdmin()">&times;</button></div>
            <div><strong>Info:</strong> {{product.info}}</div>
            <div><strong>Price:</strong> ${{product.price}}</div>
          </div>          
          <a class="btn btn-default col-xs-12" ng-click="setProduct(product)" href="/productInfo">Comments</a>
        </div>
      </div>
    </div>
    <div class="col-sm-2" ng-if="!isMobile()">
      <shopping-cart></shopping-cart>
    </div>
  </div>

  <form class="product-form" ng-if="isAdmin()">
    <label>Add new Product</label>
    <p class="input-group product-form">
      <input type="text" class="form-control" placeholder="Product name" ng-model="newProduct.name">
      <input type="text" class="form-control" placeholder="Product description" ng-model="newProduct.info">
      <input type="text" class="form-control" placeholder="Product price" ng-model="newProduct.price">
      <button type="submit" class="btn btn-primary" ng-click="addProduct()">Add New</button>
    </p>
  </form>
</div>
<website-footer></website-footer>