.product-form {
    margin: 20px 0;
}

input {
    margin-bottom: 10px !important;
}

.ui-scrollfix { 
    position: fixed; 
}

.small-margin-y {
    margin-top: 10px;
    margin-bottom: 10px;
}

.product-info {
    word-wrap: break-word;
}

.product-pane {
    margin-bottom: 20px;
}

@media (min-width: 1025px) {
    .masonry-brick {
        padding: 5px 15px;
        width: 45%;
        margin: 0;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .masonry-brick {
        padding: 5px 15px;
        //width: 50%;
        margin: 0;
    }
}

@media (max-width: 767px) {
    .masonry-brick {
        padding: 5px 15px;
        width: 100%;
        margin: 0;
    }
}

.masonry-brick {
    margin-bottom: 20px;
}

.no-padding {
    padding: 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}